/* Kevin Powell Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Project Below */

@font-face {
  font-family: "Rockwell";
  src: url("./fonts/Rockwell-ExtraBold.woff2") format("woff2"),
    url("./fonts/Rockwell-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/SpaceGrotesk-Regular.woff") format("woff");
}

/*
Colors:
Purple - #1c2a44
Beige - #faf3e0
*/

body {
  background: #faf3e0;
  position: relative;
  overflow-x: hidden;
}

h2 {
  font-family: "Rockwell";
}

p {
  font-family: "Space Grotesk";
}

header::before {
  content: "";
  position: absolute;
  min-height: 60vh;
  min-width: 200vw;
  left: -15rem;
  top: -15rem;
  background-color: #1c2a44;
  transform: skew(145deg, -4deg);
  z-index: -1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 65vh;
}

.about-me-container {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 40vh;
  min-width: 50vw;
  border: 2px solid firebrick;
  /* background: #e8ecf2;
  border-radius: 0.2rem; */
}

.header-and-image-container {
  position: absolute;
  z-index: 1;
  left: -1rem;
}

.header-and-image-container img {
  max-height: 60vh;
  /* border-radius: 0.2rem; */
}

.description-container {
  max-width: 50%;
  margin-right: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main {
  min-height: 60vh;
}

footer {
  background: #1c2a44;
  min-height: 20vh;
}
