/* Kevin Powell Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Project Below */

@font-face {
  font-family: "Rockwell";
  src: url("./fonts/Rockwell-ExtraBold.woff2") format("woff2"),
    url("./fonts/Rockwell-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/SpaceGrotesk-Regular.woff") format("woff");
}

/*
Colors:
Purple - #1c2a44
Beige - #faf3e0
*/

body {
  background: #faf3e0;
  position: relative;
  overflow-x: hidden;
}

header::before {
  content: "";
  position: absolute;
  min-height: 60vh;
  min-width: 200vw;
  left: -15rem;
  top: -17.5rem;
  background-color: #1c2a44;
  transform: skew(145deg, -10deg);
  z-index: -1;
}

header {
  min-height: 40vh;
}

main {
  min-height: 40vh;
}

footer {
  background: #1c2a44;
  min-height: 20vh;
}
