/* Kevin Powell Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 70ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Project Below */

@font-face {
  font-family: "Rockwell";
  src: url("./fonts/Rockwell-ExtraBold.woff2") format("woff2"),
    url("./fonts/Rockwell-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/SpaceGrotesk-Regular.woff") format("woff");
}

/*
Colors:
Purple - #1c2a44
Beige - #faf3e0
*/

html,
body {
  overflow-x: hidden;
}

body {
  background: #faf3e0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

h1,
h2,
h3 {
  font-family: "Rockwell";
}

p {
  font-family: "Space Grotesk";
}

/* Finished! */
header::before {
  content: "";
  position: absolute;
  min-height: 60vh;
  min-width: 350vw;
  left: -15rem;
  top: -15rem;
  background-color: #1c2a44;
  transform: skew(145deg, -4deg);
  z-index: -1;
  box-shadow: 0px 0px 1px 2px #121212;
}

header {
  display: flex;
  margin-top: 5rem;
}

.about-me-container {
  position: relative;
  background: #f8f5ee;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 8px #121212;
  padding-top: 1rem;
}

/* First Draft (Works!) */
/* .profile-pic-container {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
  margin-top: -1.5rem;
  margin-bottom: -3rem;
  border-radius: 0.2rem;
} */

.profile-pic-container {
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
  margin-top: -1.5rem;
  margin-bottom: -3rem;
  border-radius: 0.2rem;

  /* box-shadow: 0px 0px 8px 2px #121212; */
}

.main-photo {
  max-height: 50vh;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 8px 2px #121212;
}

h1 {
  position: absolute;
  bottom: 1rem;
  font-size: 1.75rem;
}

.description-container {
  padding: 1.25rem;
}

h2 {
  font-size: 1.25rem;
}

.description-container p {
  margin: 1rem;
}

.social-links-container {
  display: flex;
  justify-content: end;
  margin-right: 3rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.social-links-container img {
  min-height: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 70vw;
}

.project {
  display: flex;
  flex-direction: column;
  background: #f8f5ee;
  gap: 0.5rem;
  border-radius: 0.2rem;
  border: 2px solid #1c2a44;
}

.project-name-and-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 0 1rem;
}

.project-links {
  display: flex;
  min-width: 1rem;
}

.project-links img {
  min-height: 1.5rem;
}

.project p {
  padding: 0.5rem 1rem 1rem 1rem;
}

footer {
  background: #1c2a44;
  color: #f8f5ee;
  display: flex;
  justify-content: center;
  min-width: 100vw;
}

.contact-me-container {
  max-width: 60vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.communication-containers {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.communication-container {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.communication-container img {
  max-height: 1.5rem;
}

.social-links-footer {
  display: flex;
  gap: 0.5rem;
}

.social-links-footer img {
  min-height: 2rem;
}

.animated-profile-pic {
  grid-row: 1/7;
  grid-column: 2/3;
  max-width: 20vw;
  min-width: 17vw;
  border-radius: 0.2rem;
  place-self: center;
}

/* Tablet */
@media (max-width: 1024px) {
  /* First Draft */

  h1 {
    color: #f8f5ee;
    top: 0.1rem;
    transform: translateX(115%);
  }

  .about-me-container {
    max-width: 70vw;
  }

  .profile-pic-container {
    transform: translate(-7%, -7%);
    margin-right: 0;
    margin-bottom: -2rem;
  }

  .description-container {
    min-width: 100%;
  }

  .social-links-container {
    display: none;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-me-container {
    max-width: 80vw;
    margin: 1rem;
  }

  .animated-profile-pic {
    min-width: 40vw;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* Cell Phone */
@media (max-width: 600px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    gap: 1rem;
  }

  .profile-pic-container {
    transform: none;
    margin: none;
  }

  .main-photo {
    float: none;
    max-height: 70vh;
    max-width: 90vw;
  }

  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  h1 {
    font-size: 2.25rem;
    /* transform: translate(-2%, -150%); */
    /* bottom: 1rem; */
    transform: none;
    top: unset;

    color: black;
  }

  .social-links-container {
    display: flex;
    min-width: 10vw;
    max-height: 2.25rem;
    margin-left: 0.75rem;
    margin-top: 0.5rem;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
  }

  .contact-me-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .contact-me-container h2 {
    align-self: center;
  }

  .social-links-footer {
    align-self: center;
    margin: 1.5rem;
  }

  .social-links-footer img {
    min-height: 2rem;
  }

  .animated-profile-pic {
    margin: 0;
    padding: 0;
    min-width: 100vw;
  }
}
