/* Kevin Powell Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 70ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Project Below */

@font-face {
  font-family: "Rockwell";
  src: url("./fonts/Rockwell-ExtraBold.woff2") format("woff2"),
    url("./fonts/Rockwell-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/SpaceGrotesk-Regular.woff") format("woff");
}

/*
Colors:
Purple - #1c2a44
Beige - #faf3e0
*/

body {
  background: #faf3e0;
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

h1,
h2 {
  font-family: "Rockwell";
}

p {
  font-family: "Space Grotesk";
}

/* Finished! */
header::before {
  content: "";
  position: absolute;
  min-height: 60vh;
  min-width: 200vw;
  left: -15rem;
  top: -15rem;
  background-color: #1c2a44;
  transform: skew(145deg, -4deg);
  z-index: -1;
  box-shadow: 0px 0px 1px 2px #121212;
}

header {
  display: flex;
  align-items: center;
}

.about-me-container {
  position: relative;
  background: #f8f5ee;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 8px #121212;
}

.main-photo {
  float: left;
  margin-right: 1.5rem;
  margin-top: -2rem;
  margin-bottom: -2rem;

  max-height: 50vh;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 8px 2px #121212;
}

h1 {
  position: absolute;
  font-size: 1.75rem;
  bottom: 0.1rem;
  left: 1.75rem;
}

.description-container {
  padding: 1.5rem;
}

.description-container h2 {
  font-size: 1.25rem;
}

.description-container p {
  margin: 1rem;
}

.social-links-container {
  max-height: 1.5rem;
  max-width: 2.5rem;
  display: flex;
  margin-left: auto;
  margin-right: 7rem;
  margin-bottom: 1rem;
}

main {
  min-height: 60vh;
}

footer {
  background: #1c2a44;
  min-height: 20vh;
}

@media (max-width: 1200px) {
  h1 {
    color: #f8f5ee;
    top: -2rem;
    left: 12rem;
  }

  .main-photo {
    margin-left: -2rem;
    margin-bottom: 0.25rem;
  }

  .description-container {
    max-width: 60ch;
  }

  .social-links-container {
    display: none;
  }
}
