/* Kevin Powell Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 70ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Project Below */

@font-face {
  font-family: "Rockwell";
  src: url("./fonts/Rockwell-ExtraBold.woff2") format("woff2"),
    url("./fonts/Rockwell-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/SpaceGrotesk-Regular.woff") format("woff");
}

/*
Colors:
Purple - #1c2a44
Beige - #faf3e0
*/

body {
  background: #faf3e0;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 1rem;
  gap: 4rem;
}

h1,
h2 {
  font-family: "Rockwell";
}

p {
  font-family: "Space Grotesk";
}

/* Finished! */
header::before {
  content: "";
  position: absolute;
  min-height: 60vh;
  min-width: 200vw;
  left: -15rem;
  top: -15rem;
  background-color: #1c2a44;
  transform: skew(145deg, -4deg);
  z-index: -1;
  box-shadow: 0px 0px 1px 2px #121212;
}

header {
  display: flex;
  /* align-items: center; */
  margin-top: 4rem;
}

.about-me-container {
  position: relative;
  background: #f8f5ee;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 8px #121212;
}

.profile-pic-container {
  float: left;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
  margin-top: -1.5rem;
  margin-bottom: -3rem;
  border-radius: 0.2rem;

  /* box-shadow: 0px 0px 8px 2px #121212; */
}

.main-photo {
  /* float: left; */
  /* margin-right: 1.5rem; */
  /* margin-top: -1.5rem; */
  /* margin-bottom: -2rem; */

  max-height: 50vh;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 8px 2px #121212;
}

h1 {
  /* position: absolute; */
  /* align-self: center; */
  transform: translateY(-3rem);
  font-size: 1.75rem;
  /* bottom: 0.1rem; */
  /* left: 1.75rem; */
}

.description-container {
  padding: 1.5rem;
}

/* .description-container h2 {
  font-size: 1.25rem;
} */

h2 {
  font-size: 1.25rem;
}

.description-container p {
  margin: 1rem;
}

.social-links-container {
  max-height: 1.5rem;
  max-width: 2.5rem;
  display: flex;
  margin-left: auto;
  margin-right: 7rem;
  margin-bottom: 1rem;
}

main {
  /* Start here tomorrow. Will need to figure out which projects you want to share and grab their
images
Before doing this, may want to figure out that h1/profile picture situation. h1 does not
need to be independent of the profile pic
*/

  /* min-height: 60vh; */
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  min-width: 50vw;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.project {
  border: 2px solid black;
  min-height: 2rem;
  min-width: 5rem;
  border-radius: 0.2rem;
}

footer {
  background: #1c2a44;
  min-height: 20vh;
}

/* Tablet */
@media (max-width: 1024px) {
  h1 {
    color: #f8f5ee;
    /* top: -2rem;
    left: 15rem; */
    transform: translate(100%, -950%);
  }

  .main-photo {
    margin-left: -3rem;
    margin-bottom: 0.1rem;
  }

  .description-container {
    max-width: 60ch;
  }

  .social-links-container {
    display: none;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Cell Phone */
@media (max-width: 600px) {
  header {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
  }
  .main-photo {
    float: none;
    margin: 1rem;
    max-height: 70vh;
  }

  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2.25rem;
    /* top: 30rem;
    left: 5.5rem; */
    transform: translate(-2%, -150%);
    color: black;
  }

  .social-links-container {
    display: flex;
    min-width: 10vw;
    max-height: 2.25rem;
    margin-left: 0.75rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
  }
}
