/* Kevin Powell Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 70ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Project Below */

@font-face {
  font-family: "Rockwell";
  src: url("./fonts/Rockwell-ExtraBold.woff2") format("woff2"),
    url("./fonts/Rockwell-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/SpaceGrotesk-Regular.woff") format("woff");
}

/*
Colors:
Purple - #1c2a44
Beige - #faf3e0
*/

body {
  background: #faf3e0;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1,
h2,
h3 {
  font-family: "Rockwell";
}

p {
  font-family: "Space Grotesk";
}

/* Finished! */
header::before {
  content: "";
  position: absolute;
  min-height: 60vh;
  min-width: 200vw;
  left: -15rem;
  top: -15rem;
  background-color: #1c2a44;
  transform: skew(145deg, -4deg);
  z-index: -1;
  box-shadow: 0px 0px 1px 2px #121212;
}

header {
  display: flex;
  margin-top: 4rem;
}

.about-me-container {
  position: relative;
  background: #f8f5ee;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 8px #121212;
}

.profile-pic-container {
  float: left;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
  margin-top: -1.5rem;
  margin-bottom: -3rem;
  border-radius: 0.2rem;

  /* box-shadow: 0px 0px 8px 2px #121212; */
}

.main-photo {
  max-height: 50vh;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 8px 2px #121212;
}

h1 {
  transform: translateY(-3rem);
  font-size: 1.75rem;
}

.description-container {
  padding: 1.25rem;
}

h2 {
  font-size: 1.25rem;
}

.description-container p {
  margin: 1rem;
}

.social-links-container {
  max-height: 1.5rem;
  max-width: 2.5rem;
  display: flex;
  margin-left: auto;
  margin-right: 7rem;
}

main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  max-width: 70vw;
}

.project {
  display: flex;
  flex-direction: column;
  background: #f8f5ee;
  gap: 0.5rem;
  border-radius: 0.2rem;
  border: 2px solid #1c2a44;
}

.project-name-and-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.project-links {
  display: flex;
  min-width: 1.5rem;
  margin-right: 2rem;
}

.project p {
  padding: 0.5rem 1rem 1rem 1rem;
}

footer {
  background: #1c2a44;
  color: #f8f5ee;
  display: flex;
  justify-content: center;
  min-width: 100vw;
}

.contact-me-container {
  max-width: 50vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem;
  align-items: center;
}

.communication-container {
  display: flex;
  gap: 0.75rem;
}

.communication-container img {
  max-height: 1.5rem;
}

.social-links-footer {
  display: flex;
  gap: 0.5rem;
}

.social-links-footer img {
  max-height: 2rem;
}

/* .my-icon {
  fill: #f8f5ee;
} */

.animated-profile-pic {
  grid-row: 1/7;
  grid-column: 2/3;
  max-width: 15rem;
  margin-left: 5rem;
  border-radius: 0.2rem;
  align-self: center;
}

/* Tablet */
@media (max-width: 1024px) {
  h1 {
    color: #f8f5ee;
    transform: translate(115%, -1075%);
  }

  .profile-pic-container {
    transform: translate(-7%, -7%);
    margin-right: 0;
    margin-bottom: -3.5rem;
  }

  .description-container {
    max-width: 65ch;
  }

  .social-links-container {
    display: none;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Cell Phone */
@media (max-width: 600px) {
  header {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
  }

  .profile-pic-container {
    margin-top: 1rem;
    transform: translateX(1%);
  }

  .main-photo {
    float: none;
    max-height: 70vh;
  }

  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  h1 {
    font-size: 2.25rem;
    transform: translate(-2%, -150%);
    color: black;
  }

  .social-links-container {
    display: flex;
    min-width: 10vw;
    max-height: 2.25rem;
    margin-left: 0.75rem;
    margin-top: 0.5rem;
  }

  .portfolio-container {
    grid-template-columns: 1fr;
  }

  .contact-me-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .animated-profile-pic {
    margin: 0;
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
