/* Kevin Powell Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 70ch;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* Project Below */

@font-face {
  font-family: "Rockwell";
  src: url("./fonts/Rockwell-ExtraBold.woff2") format("woff2"),
    url("./fonts/Rockwell-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/SpaceGrotesk-Regular.woff") format("woff");
}

/*
Colors:
Purple - #1c2a44
Beige - #faf3e0
*/

body {
  background: #faf3e0;
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1rem;
}

h1,
h2 {
  font-family: "Rockwell";
}

p {
  font-family: "Space Grotesk";
}

header::before {
  content: "";
  position: absolute;
  min-height: 60vh;
  min-width: 200vw;
  left: -15rem;
  top: -15rem;
  background-color: #1c2a44;
  transform: skew(145deg, -4deg);
  z-index: -1;
  box-shadow: 0px 0px 1px 2px #121212;
}

header {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  min-height: 60vh;
}

.about-me-container {
  position: relative;
  background: #f8f5ee;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 8px #121212;

  /* 
  Trying to float image below: 
    If something is grayed out above it's part of the original build and I'm testing
    a new direction
  */
}

.main-photo {
  max-height: 45vh;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 8px 2px #121212;

  /* Trying to float it below: */
  float: left;
  margin-right: 1rem;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.main-header {
  position: absolute;
  font-size: 1.75rem;
  bottom: -1rem;
  left: 0.75rem;
}

h2 {
  font-size: 1.25rem;
  margin: 1rem;
  margin-top: 2rem;
}

p {
  margin: 1rem;
}

.social-links-container {
  max-height: 1.5rem;
  max-width: 2.5rem;
  display: flex;
  margin-left: auto;
  margin-right: 6rem;
}

main {
  min-height: 60vh;
}

footer {
  background: #1c2a44;
  min-height: 20vh;
}

@media (max-width: 1200px) {
  .main-header {
    color: #f8f5ee;
    top: -3rem;
    left: 16rem;
  }

  .social-links-container {
    display: none;
  }
}
